[Unit]
Description=Docker service for study_english project
After=network.target docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/study_english
RestartSec=10
Restart=on-failure
ExecStop=/usr/local/bin/docker-compose down
ExecStartPre=/usr/local/bin/docker-compose down 
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml -f docker-compose.prod.yml up --build

[Install]
WantedBy=multi-user.target
